body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #03202e;
}

.game-container {
    text-align: center;
}

canvas {
    border: 2px solid #000;
    background-color: #2f0064;
}

.controls {
    margin-top: 10px;
}

.status {
    border: 2px solid #082642;
    background-color: #0b3257;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
